table {
    border-collapse: collapse; /* объединение граничных линий */
    border: 2px solid black; /* толщина и цвет границы */
}

td {
    border: 1px dotted red; /* толщина, стиль и цвет границы ячейки */
    padding: 10px;
}